*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url(./img/sky.jpg);
  background-position: center;
  background-size: cover;
}

#search{
  width: 100vw;
  max-width: 600px;
}

#search h2{
  font-size: 2em;
}

input[type=number]{
  text-align: center;
  width: 60%;
  height: 7vh;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1.5em;
}

#submit{
  width: 15%;
  height: 7vh;
  border-left: 1px solid #000000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.5em;
  background-color: #ffffff;
}

#submit:focus,
#submit:hover{
  cursor: pointer;
  border: 3px solid #000000;
}

#results{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 66vh;
  width: 75vw;
  max-height: 600px;
  max-width: 600px;
  background: #a2a2a250;
  border-radius: 5vh;
  color:#ffffff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.65);
}



#city{
  position: absolute;
  top: 5px;
  font-size: 3em;
}

#temp{
  font-size: 5em;
}

#weather{
  font-size: 2em;
}